<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
    <h1>Blog</h1>
    <a href="{% url 'blogs:new_post' %}">Создать новое сообщение</a>
    <ul>
        {% for post in posts %}
            <li>
                <strong>{{ post.title }}</strong> ({{ post.date_added }}):<br>
                {{ post.text }}<br>
                <a href="{% url 'blogs:edit_post' post.id %}">Редактировать</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
